/*--------------RESET-------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*--------------HTML TAGS-------------------*/

body {
	font-family: 'OpenSansRegular';
	background-image: url('../images/bglarge.png');
	background-repeat: repeat-x;
	background-position: -200px 500px;
	color: #4f4f4f; /* dark grey */
}

h1, h2, h3, h4, h5 {
	font-family: 'OpenSansExtrabold';
	color: black;
}

p {
	font-size: 15px; 
	line-height: 20px;
	margin-bottom: 20px;
}

h1 {font-size: 30px;}
h2 {font-size: 24px;}
/*h3 {font-size: 18px;}*/
h4 {font-size: 17px;}
h5 {font-size: 16px;}

iframe {
	margin-bottom: 30px; 
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

form label {
	width: 180px;
	display: inline-block;
	font-family: 'OpenSansBold';
	float: left;
}
form input {
	height: 25px;
	width: 252px;
	margin-bottom: 15px;
	float: left;
	padding-left: 5px;
}
form textarea {
	margin-bottom: 15px;
	margin-top: 5px;
	float: left;
	display: inline-block;
	padding: 5px;
	resize: none;
}
form #Submit {
	background-image: url('../images/register-button.png');
	display: block;
	height: 66px;
	width: 65px;
	text-indent: -999999px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 185px;
	background-color: white;
}
form #Submit:hover {
	background-position: 0 66px;
}
form select {
	margin-bottom: 10px;
	height: 25px;
	width: 206px;
}

/*--------------CONTAINER-------------------*/

#container {
	width: 1200px;
	margin: auto;
}

/*--------------HEADER-------------------*/

#header {
	height: 130px;
	border-bottom: 1px silver dotted;
	margin-bottom: 20px;
}

#logo {
	float: left; 
	margin-top: 10px; 
	margin-right: 160px
}

#logo a {
	width: 316px;
	height: 104px;
	background-image: url('../images/logo.png');
	display: block;
	background-repeat: none;
}

#logo a:hover {background-position: 0 104px;}

#nav {
	float: left;
	list-style-type: none;
	margin-top: 20px;
}

#nav li {
	float: left; 
}

#nav li a {
	text-decoration: none;
	font-family: 'OpenSansExtrabold';
	font-size: 16px;
	color: black;
	padding: 0 15px 10px 15px;
	display: inline-block;
	border-bottom: 1px solid black;
	background: url('../images/line.gif') no-repeat center bottom;
}

#nav li a:hover {color: #EF5A28;}

#nav #login, #nav #logout {margin-left: 20px;}

#nav #login a {
	background: url('../images/login-button.png') no-repeat top;
	text-indent: -999999px;
	border: none;
	height: 66px;
	width: 65px;
	display: block;
	padding: 0;
}

#nav #login a:hover, #nav #logout a:hover {background-position: bottom;}

#nav #logout a {
	background: url('../images/logout-button.png') no-repeat top;
	text-indent: -999999px;
	border: none;
	height: 66px;
	width: 65px;
	display: block;
	padding: 0;
}
#user-nav {
	float: right;
	height: 30px;
	width: 600px;
}
#user-nav ul {
	list-style-type: none;
}
#user-nav li {
	float: right;
	display: inline-block;
	color: black;
	margin-left: 5px;
	font-size: 14px;
}
#user-nav a {
	font-family: 'OpenSansExtrabold';
	text-decoration: none;
	color: #EF5A28;
}
#user-nav a:hover {color: #919396;}

#user-nav span {
	color: #EF5A28;
	font-family: 'OpenSansBoldItalic';
}


/*--------------LEFT NAVIGATION-------------------*/

#left-nav {
	width: 200px;
	height: 300px;
	margin: 0 20px;
	float: left;
}

#cat-nav {
	list-style: none;
	font-family: 'OpenSansBold';
	margin-top: 30px;
	margin-left: 25px;
	font-size: 20px;
}

#cat-nav li a {
	text-decoration: none;
	color: white;
	background-color: #919396; /* grey */
	display: inline-block;
	padding: 3px 10px;
}

#cat-nav li a:hover {
	background-color: #EF5A28;  /* orange */
	padding: 3px 15px;
}


/*--------------SEARCH BOX-------------------*/

#search-box {
	width: 465px;
	height: 110px;
	margin-right: 20px;
	float: left;
	background-color: #F1F1F1;
	border: 1px silver solid;
	margin-bottom: 20px;
	text-indent: 15px;
}

#search-box form label {
	width: 160px;
	display: inline-block;
	font-family: 'OpenSansBold';
	color: #EF5A28;
	height: 20px;
	float: left;
	padding: 7px;
	font-size: 14px;
	margin-left: 10px;
}

#search-box form input {
	height: 20px;
	margin: 5px;
	float: left;
	font-size: 12px;
	width: 160px;
	padding-left: 5px;
}

#search-box .submit {
	background-image: url('../images/find.png');
	background-position: top;
	width: 40px;
	height: 26px;
	text-indent: -999999px;
	*text-indent: 0;
	*padding: 0;
	border: none;
	float: left;
}

#search-box .submit:hover{
	background-position: bottom;
	cursor: pointer;
}

/*--------------EXHIBITION BANNER-------------------*/

#banner {
	float: left;
	border: 1px silver solid;
	margin-bottom: 20px;
}
#banner a {
	display: block;
	background-image: url('../images/banner.png');
	background-position: top;
	width: 464px;
	height: 110px;
}

#banner a:hover {
	background-position: bottom;
}

/*--------------MAIN CONTENT-------------------*/

#main {
	width: 950px;
	float: left;
	background-color: white;
	border: 1px silver solid;
	margin-bottom: 20px;
	min-height: 500px;
}

#main h1 {
	border-bottom: 5px solid #F1F1F1; /*light grey*/
	margin: 20px 30px 10px 30px;
	padding-bottom: 5px;
	text-indent: 5px;
}

#main h2, #main h3 {
	color: #EF5A28;
	font-family: 'OpenSansBold';
}

#main h2 {
	margin-bottom: 20px; 
	border-bottom: 1px dotted silver;
}

#homeheading {
	margin: 0 !important;
	height: 130px;
	font-size: 55px;
	font-family: 'OpenSansBold';
	line-height: 60px;
	background-image: url('../images/bglargelight.png');
	background-repeat: repeat-x;
	background-position: center;
	padding: 10px 0;
	text-align: center;
	letter-spacing: 0.15em;
}

#homeheading span {
	color: #EF5A28;
}

#virtual img {
	float: left;
	margin: 10px;
}

#virtual h1 {
	border-bottom: 5px solid #F1F1F1; /*light grey*/
	margin: 20px 0 10px 0;
	padding-bottom: 5px;
	color: #EF5A28;
}

#virtual-heading {
	font-size: 50px;
	color: black !important;
}
#virtual-heading span {
	color: #919396;;
}

#fullwidth {
	width: 890px;
	margin-left: 30px;
}
#fullwidth a {
	text-decoration: none;
	color: #EF5A28;
}
#fullwidth a:hover {
	text-decoration: underline;
}
.artistprofiles {
	float: left;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.profilepic {
	width: 170px;
	height: 170px;
	margin-bottom: 10px;
	position: relative;
}

.profilepic img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

#artwork-nav {
	list-style-type: none;
	margin-left: 35px;
}
#artwork-nav li {
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
	font-family: 'OpenSansExtrabold';
	font-size: 25px;
	text-align: center;
	line-height: 190px;
}
#artwork-nav li a {
	display: block;
	width: 180px;
	height: 190px;
	color: white;
	background-image: url('../images/sculpture.png');
	background-repeat: no-repeat;
	background-position: top;
}
#artwork-nav li a:hover {
	text-decoration: none;
	background-position: bottom;
	color: #EF5A28;
}
#artwork-nav .Painting {background-image: url('../images/painting.png');}
#artwork-nav .Sculpture {background-image: url('../images/sculpture.png');}
#artwork-nav .Photography {background-image: url('../images/photography.png');}
#artwork-nav .Print {background-image: url('../images/print.png');}
#artwork-nav .Mixed-Media {background-image: url('../images/mixed-media.png');}
#artwork-nav .Drawing {background-image: url('../images/drawing.png');}
#artwork-nav .Jewellery {background-image: url('../images/jewellery.png');}
#artwork-nav .Other {background-image: url('../images/other.png');}

/*--------------LEFT COLUMN-------------------*/

#leftcolumn {
	width: 200px;
	margin: 15px 40px 10px 30px;
	float: left;
}

#leftcolumn a {
	text-decoration: none;
	color: #EF5A28;
}

#leftcolumn a:hover {
	text-decoration: underline;
}

#enquiry label {
	display: block;
	font-family: 'OpenSansBold';
	color: #4f4f4f;
	height: 20px;
	float: left;
	font-size: 16px;
	margin-bottom: 5px;
}

#enquiry input {
	height: 25px;
	float: left;
	width: 197px;
	margin-bottom: 15px;
	background-color: #F1F1F1;
	border: 1px silver solid;
}

#enquiry textarea {
	float: left;
	resize: none;
	background-color: #F1F1F1;
	border: 1px silver solid;
}

#submitenquiry {
	background-image: url('../images/enquiry-button.png');
	background-position: top;
	background-repeat: no-repeat;
	background-color: white !important;
	width: 65px !important;
	height: 66px !important;
	margin-top: 10px;
	padding: 0;
	text-indent: -999999px;
	border: none !important;
	float: left;
}

#submitenquiry:hover {
	cursor: pointer;
	background-position: bottom;
}

/*--------------RIGHT COLUMN-------------------*/

#rightcolumn {
	width: 650px;
	margin-top: 15px;
	float: left;
}

#rightcolumn h4, #rightcolumn h5 {
	font-family: 'OpenSansBold';
}

#rightcolumn h4 {
	font-size: 26px;
	color: black;
	margin-bottom: 15px;
}

#rightcolumn h4 span {
	color: #919396;
}

#rightcolumn h4 a {
	text-decoration: none;
	color: black;
}

#rightcolumn h5 {
	color: #EF5A28;
	padding-top: 20px;
	border-top: 1px dotted silver;
}

#rightcolumn a {
	text-decoration: none;
	color: #EF5A28;
}

#rightcolumn a:hover {
	text-decoration: underline;
}

.artworks {
	border: 1px silver dotted;
	width: 620px;
	margin-left: 15px;
	margin-bottom: 15px;
	min-height: 250px;
}

.artworks-small {
	border: 1px silver dotted;
	width: 430px;
	margin-bottom: 15px;
	margin-right: 10px;
	float: left;
}
.artworks-small .details {
	width: 240px;
	float: left;
	margin-left: 15px;
	margin-bottom: 10px;
}

.artworks-small .artworkphoto {
	vertical-align: center;
	float: left;
	margin-left: 10px;
	width: 160px;
	height: 160px;
	margin-bottom: 10px;
}
.artworks-small .title{
	margin-left: 10px;
}
.artworks-small .details a {
	font-family: 'OpenSansBold';
	color: black !important;
	font-size: 16px;
}

.artworks-small p {
	display: inline-block;
	width: 150px;
}

.title {
	font-family: 'OpenSansBoldItalic';
	font-style: italic;
	margin: 10px 20px;
}

.artworkphoto {
	vertical-align: center;
	float: left;
	margin-left: 20px;
	width: 185px;
	height: 185px;
	margin-bottom: 10px;
}

.artworkphoto img {
	max-width: 100%;
	max-height: 100%;
}

.details {
	width: 370px;
	float: left;
	margin-left: 20px;
	margin-bottom: 10px;
}

.details h3 {
	float: left;
	width: 90px;
	font-size: 14px;
	clear: both;
}

.details p {
	float: left;
	font-size: 13px;
	line-height: 18px;
	margin: 0;
	*float: none;
}

.description {
	clear: both;
	margin-bottom: 10px !important;
	*width: 100%;
}

#contact {
	margin-left: 35px;
	text-align: center;
}

#contact h3 {
	margin-bottom: 10px;
}
#contact span {color: #919396; /* grey */}

.message {
	float: left;
	display: inline-block;
	font-size: 12px;
	color: #EF5A28;  /* orange */
	font-family: 'OpenSansBold';
	line-height: 25px;
	margin-left: 20px;
}

#login-butt #Submit {
	background-image: url('../images/login-button.png');
	background-position: top;
	background-repeat: no-repeat;
	background-color: white !important;
	width: 65px !important;
	height: 66px !important;
	margin-top: 10px;
	padding: 0;
	text-indent: -999999px;
	border: none !important;
	float: left;
}

#login-butt #Submit:hover {
	cursor: pointer;
	background-position: bottom;
}

/*--------------FOOTER-------------------*/

#footer-wrap {
	clear: both;
	background-color: black;
}

#footer {
	height: 200px;
	width: 1200px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: right center;
}

#footer h3 {
	color: #2D2D2D;
	clear: both;
	width: 110px;
	float: left;
	margin-left: 472px;
}

#footer-logo {
	float: left;
	margin: 20px 255px 0 20px;
}

#footer-logo a {
	background-image: url('../images/logo-white.png');
	height: 52px;
	width: 200px;
	display: block;
}

#footer-nav {
	float: left;
	list-style-type: none;
	margin-top: 40px;
}

#footer-nav li {
	float: left;
}

#footer-nav li a {
	color: #F1F1F1;
	text-decoration: none;
	display: inline-block;
}

#footer-nav li a:hover {
	color: #EF5A28;
}

#social {
	list-style-type: none;
	float: left;
	margin-bottom: 10px;
}
#social li {
	float: left;
	margin-right: 15px;
}

#social li a {
	background-position: top;
	width: 54px;
	height: 55px;
	display: inline-block;
	font-size: 0;
	color: black;
}
#social li a:hover {
	background-position: bottom;
}
#facebook {background-image: url('../images/facebook.png');}
#twitter {background-image: url('../images/twitter.png');}
#pinterest {background-image: url('../images/pinterest.png');}
#flickr {background-image: url('../images/flickr.png');}

#footer p {
	clear: both;
	font-size: 11px;
	margin-bottom: 0;
	margin-left: 80px;
}

/*--------------CLEAR FIX-------------------*/

.clear {
	clear: both;
}
